.bde__ui__vertical-aside {
  position: fixed;
  right: -4em;
  top: 50%;
  transform: rotate(-90deg);
  //transition: translate 400ms ease-out;
  //transform: translateX(0);
  z-index: 1;
}
.bde-theme-light .bde__ui__vertical-aside {
  right: -5em;
}
.bde__ui__vertical-aside__counter {
  position: fixed;
  top: 50%;
  left: 0;
  left: -2px;
  font-size: small;
  z-index: 1;

  //transition: translate 400ms ease-out;
  //transform: translateX(0);
}
.bde__ui__vertical-aside__counter ul {
  list-style: none;
}

.bde__ui__vertical-aside__counter ul li {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ccc;
  display: flex;
  cursor: pointer;
}
.bde__ui__vertical-aside__counter ul li div {
  width: 2em !important;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.bde__ui__vertical-aside__counter ul li div span {
  transition: max-width 400ms ease-out;
  max-width: 0%;
  border: 1px solid white;
  // border: 1px solid transparent;
  display: block;
  width: 100%;
}
.bde-theme-light .bde__ui__vertical-aside__counter ul li div span {
  border: 1px solid #ccc;
}
.bde-theme-dark .bde__ui__vertical-aside__counter ul li.active {
  color: white;
}

.bde-theme-light .bde__ui__vertical-aside__counter ul li.active {
  color: black;
}

.bde__ui__vertical-aside__counter ul li.active > div span {
  max-width: 100%;
}

.bde__ui__vertical-aside__right {
  height: 10em;
  margin-bottom: -2em;
}
.bde__ui__vertical-aside__left,
.bde__ui__vertical-aside__right {
  transition: all 400ms ease-out;
}
#bde-main.transitioning .bde__ui__vertical-aside__left {
  transform: translateY(10em);
}

#bde-main.transitioning .bde__ui__vertical-aside__right {
  transform: translateX(-10em);
}
