<div id="bde-route-background__buttons">

  <button type="button" {{action this.lightToDark}}>From light to dark</button>
  <button type="button" {{action this.darkToLight}}>From dark to light</button>
</div>
<section id="bde-route-background">
  <div id="bde-route-background-mask">

  </div>
</section>