@import "./animations/blur.scss";
@import "./animations/button.scss";
@import "./animations/fade.scss";
@import "./animations/glow.scss";
@import "./animations/slide.scss";
@import "./animations/splash.scss";
@import "./animations/urban-sprite.scss";
@import "./animations/page-slide.scss";

.animate {
  animation-duration: 0.4s;
  // animation-delay: 0.1s;
  animation-name: animate-fade;
  // animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: forwards;
}

/* Glow In */
.animate.animate-glow-in {
  animation-name: animateGlowIn;
  animation-timing-function: ease;
}

.animate.animate-slide-up-in {
  animation-name: animateSlideUpIn;
  animation-timing-function: ease;
}

.animate.animate-slide-up-out {
  animation-name: animateSlideUpOut;
  animation-timing-function: ease;
}

.animate.animate-slide-down-in {
  animation-name: animateSlideDownIn;
  animation-timing-function: ease;
}

.animate.animate-slide-down-out {
  animation-name: animateSlideDownOut;
  animation-timing-function: ease;
}

.animate.animate-slide-left-in {
  animation-name: animateSlideLeftIn;
  animation-timing-function: ease;
}

.animate.animate-slide-left-out {
  animation-name: animateSlideLeftOut;
  animation-timing-function: ease;
}

.animate.animate-slide-right-in {
  animation-name: animateSlideRightIn;
  animation-timing-function: ease;
}

.animate.animate-slide-right-out {
  animation-name: animateSlideRightOut;
  animation-timing-function: ease;
}

.animate.animate-fade-in-blur {
  animation-name: animateFadeIn;
  animation-timing-function: ease;
}

.animate.animate-fade-out {
  animation-name: animateFadeOut;
  animation-timing-function: ease;
}

.transition-to-invisible {
  transition: max-height 0.15s ease-out, opacity 0.15s ease-out;
  max-height: 0;
  opacity: 0;
}
.transition-to-visible {
  transition: max-height 0.15s ease-in, opacity 0.15s ease-in;
  max-height: 500px;
  opacity: 1;
}

.transition-left {
  margin-left: -150vw;
  transform: skewX(-10deg);
}
