@import "./fonts.scss";
@import "./animations.scss";
@import "./packages/hljs.scss";
@import "cursor.scss";
@import "app/index.scss";

body {
  overflow: hidden;
}
.bde-theme-dark {
  color: white;
}

.bde-theme-light {
  color: black;
}

.pixel {
  display: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.dg,
.ac {
  z-index: 100000000000 !important;
}
