@import "./fonts.scss";
@import "./animations.scss";
@import "app/index.scss";

.bde-theme-dark {
  color: white;
}

.bde-theme-light {
  color: black;
}

.pixel {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.scale-90 {
  transform: scale(0.95);
}
