<div class="bde__ui-scrollbar__wrapper {{this.container.$scrollClassList}}">

  <div class="bde__ui-scrollbar__container">
    <div>
      <div class="bde__ui-scrollbar__scroll-downs">
        <div class="bde__ui-scrollbar__mousey">
          <div class="bde__ui-scrollbar__scroller"></div>
        </div>
      </div>
      <div class="bde__ui-scrollbar__call-to-action">
        {{t "scroll_to_explore"}}
      </div>
    </div>
  </div>
</div>