{{page-title "CarlosGalveias"}}
<div class="page-container">
  <section class="page-left">
    <p class="bde-page-subtitle">The mastermind</p>
    <h1 class="bde-page-title">
      Carlos
      <br /><span class="text-stroke">Galveias</span>
    </h1>
    <p class="bde-page-content lorem-ipsum"></p>
    <p class="bde-page-content lorem-ipsum-1"></p>
    <p class="bde-page-content lorem-ipsum"></p>
  </section>
  <section class="page-right">

  </section>
</div>