<div class="bde__ui__container__page">
  <section class="bde__ui__container__page__left">
    <p class="bde-page-subtitle bde__ui__animation__blur">The mastermind</p>
    <h1 class="bde-page-title bde__ui__animation__blur">
      Carlos
      <br /><span class="text-stroke">Galveias</span>
    </h1>
    <p class="bde-page-content lorem-ipsum bde__ui__animation__blur"></p>
    <p class="bde-page-content lorem-ipsum-1 bde__ui__animation__blur"></p>
    <p class="bde-page-content lorem-ipsum bde__ui__animation__blur"></p>
  </section>
  <section class="bde__ui__container__page__right">

  </section>
</div>