@keyframes animateGlowIn {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.1, 0.1);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}
