<div class="bde__ui-button-squared" ...attributes>
  <span class="bde__ui-button-squared__mask">
    <div class="bde__ui-button-squared__inner">
      {{@title}}
    </div>
  </span>
  <button type="button" name="Hover"><div
      class="bde__ui-button-squared__inner"
    >{{@title}}
    </div>
    {{yield}}
  </button>
</div>