<div class="bde__ui-button-squared" ...attributes>
  <span class="bde__ui-button-squared__mask">
    <div class="bde__ui-button-squared__inner">
      Title
    </div>
  </span>
  <button type="button" name="Hover"><div
      class="bde__ui-button-squared__inner"
    >Title
    </div>
    {{yield}}
  </button>

</div>