.bde__ui-container-footer {
  position: fixed;
  bottom: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bde__ui-container-footer.transition-0 .bde__ui-button-rounded {
  transition: all 0s;
  transition-delay: 0s;
}
.bde__ui-container-footer .bde__ui-button-rounded {
  transition: all 0.4s ease-in-out;
}
.bde__ui-container-footer.opacity-0 .bde__ui-button-rounded {
  opacity: 0;
}
.bde__ui-container-footer.opacity-100 .bde__ui-button-rounded {
  opacity: 1;
}

.bde__ui-container-footer.max-height-0 .bde__ui-button-rounded {
  max-height: 0;
}
.bde__ui-container-footer.max-height-100 .bde__ui-button-rounded {
  max-height: 1000px;
}

.bde__ui-container-footer.bottom-100 .bde__ui-button-rounded {
  transform: translateY(100px);
}
.bde__ui-container-footer.bottom-0 .bde__ui-button-rounded {
  transform: translateY(0px);
}

@for $i from 1 through 100 {
  .bde__ui-container-footer .bde__ui-button-rounded:nth-child(#{$i}n) {
    transition-delay: #{$i * 0.075}s;
  }
}

.bde__ui-container-footer__actions {
  //   display: none;
}
