<div
  class="bde__ui-container-navigation {{this.container.$navigationClassList}}"
>
  {{#each this.container.navigationButtons as |button|}}
    <Ui::Button::Squared
      @title={{button.title}}
      @actionName={{button.action}}
    />

  {{/each}}
</div>