<div class="bde__ui-container-navigation {{this.className}}">
  <Ui::Button::Squared />
  <Ui::Button::Squared />
  <Ui::Button::Squared />
  <Ui::Button::Squared />
</div>
<div>

  <button type="button" {{action this.enterNavigation}}>Enter Navigation
    Container</button>
  <button type="button" {{action this.leaveNavigation}}>Leave Navigation
    Container</button>
</div>