<div class="bde__ui-container-footer {{this.container.$teamClassList}}">
  {{#each this.container.teamButtons as |button|}}
    <Ui::Button::Rounded
      @title={{button.title}}
      @icon={{button.icon}}
      @image={{button.image}}
    />

  {{/each}}
</div>