$bde-ui-button-width: 120px;
$bde-ui-button-size: 75px;
$bde-ui-button-size-hover-size-1: 65px;
$bde-ui-button-size-hover-size-2: 55px;
$bde-ui-button-size-hover-opacity-1: 0.75;
$bde-ui-button-size-hover-opacity-2: 0.5;
$bde-ui-button-size-duration: 250ms;

.bde__ui-button-rounded {
  width: $bde-ui-button-width;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}
.bde__ui-button-rounded__circle-wrapper {
  height: $bde-ui-button-size;
  width: $bde-ui-button-size;
  position: relative;
  cursor: pointer;
}
.bde__ui-button-rounded__circle-container {
  position: absolute;
  height: $bde-ui-button-size;
  width: $bde-ui-button-size;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bde__ui-button-rounded__circle {
  border-radius: 100%;
  border: 1px solid #5858f4;
  height: $bde-ui-button-size;
  width: $bde-ui-button-size;
  max-height: $bde-ui-button-size;
  max-width: $bde-ui-button-size;
  opacity: 1;
  transition: all $bde-ui-button-size-duration ease-in-out;
}

.bde__ui-button-rounded__circle-wrapper
  > div:nth-child(4)
  .bde__ui-button-rounded__circle {
  border: transparent;
  max-width: $bde-ui-button-size-hover-size-2;
  max-height: $bde-ui-button-size-hover-size-2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bde__ui-button-rounder__title {
  margin-top: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
.bde__ui-button-rounded__circle-wrapper
  > div:nth-child(0)
  .bde__ui-button-rounded__circle {
  border: 2px solid #5858f4 !important;
}

.bde__ui-button-rounded__circle-wrapper:hover
  > div:nth-child(1)
  .bde__ui-button-rounded__circle {
  max-height: $bde-ui-button-size-hover-size-1;
  max-width: $bde-ui-button-size-hover-size-1;
  opacity: $bde-ui-button-size-hover-opacity-1;
}
.bde__ui-button-rounded__circle-wrapper:hover
  > div:nth-child(2)
  .bde__ui-button-rounded__circle {
  max-height: $bde-ui-button-size-hover-size-2;
  max-width: $bde-ui-button-size-hover-size-2;
  opacity: $bde-ui-button-size-hover-opacity-2;
}

.bde-theme-light
  .bde__ui-button-rounded__circle-wrapper
  > div:nth-child(0)
  .bde__ui-button-rounded__circle {
  border: 2px solid red !important;
}
.bde-theme-light .bde__ui-button-rounded__circle {
  border: 1px solid red;
}
