<div id="wrapper">
  <a href="#" class="my-super-cool-btn">
    <div class="dots-container">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <span>{{yield}}</span>
  </a>
</div>

<div class="bde__ui__button__rounded">
  <a class="bde__ui__button__rounded__wrapper">
    <div class="bde__ui__button__rounded__circle-container">
      <div
        class="bde__ui__button__rounded__circle bde__ui__button__rounded__circle__0"
      ></div>
      <div
        class="bde__ui__button__rounded__circle bde__ui__button__rounded__circle__1"
      ></div>
      <div
        class="bde__ui__button__rounded__circle bde__ui__button__rounded__circle__2"
      ></div>
      <span class="bde__ui__button__rounded__icon-container">icon icon icon</span>
    </div>

  </a>
  <span class="bde__ui__button__rounded__name-container">Name</span>
</div>

<div class="block">
  <div class="hovicon effect-8">(oy)</div>
</div>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
{{! 
<div class="circle-wrapper">
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
</div>
}}
<div class="circle-wrapper">
  <div class="circle-container">
    <div class="circle"></div>
  </div>

  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>

</div>
<div class="circle-wrapper hovered">
  <div class="circle-container">
    <div class="circle"></div>
  </div>

  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>

</div>