<div class="bde__ui-button-rounded">
  <div class="bde__ui-button-rounded__circle-wrapper">

    <div class="bde__ui-button-rounded__circle-container">
      <div class="bde__ui-button-rounded__circle"></div>
    </div>
    <div class="bde__ui-button-rounded__circle-container">
      <div class="bde__ui-button-rounded__circle"></div>
    </div>
    <div class="bde__ui-button-rounded__circle-container">
      <div class="bde__ui-button-rounded__circle"></div>
    </div>
    <div class="bde__ui-button-rounded__circle-container">
      <div class="bde__ui-button-rounded__circle">icon</div>
    </div>
  </div>
  <div class="bde__ui-button-rounder__title">
    title
  </div>
</div>