<div class="bde__ui-button-rounded">
  <div class="bde__ui-button-rounded__circle-wrapper" {{action this.onClick}}>

    <div class="bde__ui-button-rounded__circle-container">
      <div class="bde__ui-button-rounded__circle"></div>
    </div>
    <div class="bde__ui-button-rounded__circle-container">
      <div class="bde__ui-button-rounded__circle"></div>
    </div>
    <div class="bde__ui-button-rounded__circle-container">
      <div class="bde__ui-button-rounded__circle"></div>
    </div>
    <div class="bde__ui-button-rounded__circle-container">
      <div class="bde__ui-button-rounded__circle">
        {{#if @icon}}
          <img src={{@icon}} class="bde__ui-button-rounded__circle__icon" />
        {{/if}}
        {{#if @image}}
          <img src={{@image}} />
        {{/if}}
      </div>
    </div>
  </div>
  <div class="bde__ui-button-rounder__title">
    {{t @title}}
  </div>
</div>