<main
  id="bde-main"
  class="{{this.background.$mainClassList}}
    {{if this.transition.transition 'transitioning' ''}}"
>

  {{! Background }}
  <Ui::Background />

  {{! Left and right side text }}
  <Ui::Container::Aside />

  {{! Experience canvas }}
  <canvas {{did-insert this.didInsertCanvas}} id="experience-canvas"></canvas>

  {{outlet}}

  {{! Page info container }}
  <Ui::Container::Page />

  {{! Navigation Menu and Dev GUI }}
  <aside>
    <Ui::Container::Navigation />
    <Ui::Gui />
  </aside>

  {{! Footer Container }}
  <footer>
    <div>
      <Ui::Container::Scrollbar />
    </div>
    <div>
      <Ui::Container::Products />
      <Ui::Container::Team />
    </div>
  </footer>
</main>

{{! Splash Screen }}
<Ui::Splash />