<main
  id="bde-main"
  class="{{this.background.$mainClassList}}
    {{if this.transition.transition 'transitioning' ''}}"
>
  <Ui::Background />
  <canvas {{did-insert this.didInsertCanvas}} id="experience-canvas"></canvas>
  {{outlet}}
  <aside>
    <Ui::Container::Navigation />
    <Ui::Gui />
  </aside>
  <footer>
    <div>
      <Ui::Container::Scrollbar />
    </div>
    <div>
      <Ui::Container::Products />
      <Ui::Container::Team />
    </div>
  </footer>
</main>
<Ui::Splash />