<main id="bde-main" class="bde-theme-dark">
  <Ui::Background />
  <Ui::Button::Rounded>xxx</Ui::Button::Rounded>
  <Ui::Button::Squared>xxx</Ui::Button::Squared>
  <Ui::Container::Navigation />
</main>
{{outlet}}