<main id="bde-main" class="{{this.background.$mainClassList}}">
  <Ui::Background />
  <aside>
    <Ui::Container::Navigation />
    <Ui::Gui />
  </aside>
  <footer>
    <Ui::Container::Products />
    <Ui::Container::Team />
  </footer>
</main>
<Ui::Splash />
{{outlet}}